@model DapperDataAccessLayer.LoginModel
@{
    Layout = null;
}



<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Signin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @*@media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }*@
    </style>


    <!-- Custom styles for this template -->
    <link href="~/css/SignIn.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!--jQuery library -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>*@
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">*@
</head>
<body class="text-center">
   
    <main class="form-signin">
        <form class="container">
            <img class="mb-4" src="~/images/tickets.jpg" alt="AD" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <label asp-for="EmailID">Email address</label>
                <input asp-for="EmailID" class="form-control" id="floatingInput" placeholder="name@example.com" required>

            </div>
            <div class="form-floating">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password" required>

            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="card-subtitle"> <button class="btn btn-outline-success" asp-controller="TicketRegistration" asp-action="Create">Login</button></div><br />
            @*<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>*@
        <p class="mt-5 mb-3 text-muted">&copy;ADTickets[India] All rights reserved</p>
        </form>
        <form>
            <div class="card-subtitle"> Don't have an account?<a class="alert-danger" asp-controller="TicketRegistration" asp-action="Register">Register</a></div>

        </form>
    </main>

        

    

</body>
</html>































