@model EntityFramework.Registration

@{
    ViewData["Title"] = "Create";
    Layout = null;

}

<h1>Registration</h1>

<h4>Register and njoy</h4>
<hr />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .container {
        
        margin: 100px;
    }

    /* Apply margin to form fields */
    input {
        margin-bottom: 50px;
    }

    /* Apply margin to buttons */
    button {
        margin-left:150px;
        margin-top: 10px;
    }
</style>
<div class=" container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Emailid" class="control-label"></label>
                            <input asp-for="Emailid" class="form-control" />

                            <span asp-validation-for="Emailid" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="card-subtitle"> <button class="btn btn-outline-success" asp-controller="TicketRegistration" asp-action="Creates">Submit</button></div>
                        @*<input type="submit" value="Submit" class="btn btn-primary" />*@

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-controller="Login" asp-action="Login">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
