@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Ticket Reservation</h1>
    <p> Welcome To TicketBooking.com</p>
    <img class="img-fluid" src="https://www.shutterstock.com/image-vector/two-pair-vector-ticket-isolated-260nw-1028178904.jpg" alt="ticket" width="304" height="236">
</div>



